@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-image: url('/img/ybg.png'); */
  background-image: url('/img/ybg.png');
  background-size: cover; /* Adjusts the background image to cover the entire element */
  background-position: center; /* Centers the background image */
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the element */
  font-family: Cloud Soft, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Cloud Soft';
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Regular.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Regular.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: bold;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Bold.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 600;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-SemiBold.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 100;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Thin.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 300;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Light.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-style: italic;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-Italic.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: bold;
  font-style: italic;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-BoldItalic.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 600;
  font-style: italic;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 100;
  font-style: italic;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-ThinItalic.ttf');
}

@font-face {
  font-family: 'Cloud Soft';
  font-weight: 300;
  font-style: italic;
  src: url('https://mwitophcdn.woyiswoy.com/fonts/CloudSoft-LightItalic.ttf');
}

@font-face {
  font-family: 'PPAgrandir-Grand';
  src: url('https://mwitophcdn.woyiswoy.com/fonts/PPAgrandir-GrandHeavy.otf');
}

@font-face {
  font-family: 'PPAgrandir-Grand Light';
  src: url('https://mwitophcdn.woyiswoy.com/fonts/PPAgrandir-GrandLight.otf');
}